body{
    background: url("../img/backdrop.jpg");
}
.photos{
    /*width: 100%;*/
    height: 250px;
}
.carousel-cap-bg {
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
}